<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">

    <link rel="icon" type="image/jpeg" href="/Unbenannt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
    <title>Home | TagDreigliederung</title>
</head>
<body>
    <div class="backdrop"></div>
    <button id="side-menu-toggle">  <i class="fa fa-bars"></i></button>
    
    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/index.html">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/about' ? 'active' : '' %>" href="/termine.html">Termine</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/' ? 'active' : '' %>" href="/dreigliederung.html">Dreigliederung</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/downloads.html">Downloads</a>
        </li>
       
      
        
       
      </ul>
    </nav>

     

    <div class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="termine.html">Termine</a></li>
        <li><a href="/dreigliederung.html">Dreigliederung</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
      </ul>
  </div>

       
          <div class="title"><h1 class="inline">Willkommen zum Tag der Sozialen Dreigliederung <br class="brake">29.6.2025</h1></div>
    

    <div class="content"> 
  <div>
     <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/nVK3Wg9dPVI?si=4kTyodO_SR12c5mm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
    <div class="box">
    <p> <b> Der 29.6.2025 ist der Feiertag der "Dreigliederung des Sozialen Organismus",</b><br><br>
    
       Eine Grundforderung <b>unserer</b> Zeit ist die Schaffung von gesellschaftlichen Formen, <em>die Kreativität, Mitverantwortung</em> und
       <em>Direkte Demokratie</em> möglich machen. <br>
       Dies kann durch die Selbstverwaltung der <b>3 Hauptbereiche Kultur, Staat und Wirtschaft</b>
       bewirkt werden, allerdings erwachsen daraus unzählige Details, denen ein allgemeines
       Gespräch entscheidend weiter helfen wird. <br><br>
       
      </p>
      
        
         <br><br>
        </div>
        <img src="/drei-removebg-preview.png" alt="">
      </div>
     
      
        <iframe style="display: none;"  class="center" width="560" height="315" src="https:///www.youtube-nocookie.com/embed/vWdn_4yjX4o?modestbranding=1&autohide=1&showinfo=0&controls=0" title="YouTube video player" &showinfo=0 frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <br><br>
     
   <div class="box">
    <p>
      Durch Begegnungen, Feste, Vorträge (Filmen), Tanz und Musik, Wanderungen, Workshops oder schlichten Gesprächs/Lesekreisen wird dies gefördert. <br><b> Einzelne Orte und Zeiten können hier eingesehen sowie gemeldet werden</b><br>
      <b>Wegen der Fülle und Spontanität können hier nur einge Veranstaltungen platziert werden</b><br><br>
     <b>Zahlreiches Weitersagen ist die beste Grundlage allseitiger Verständigung!</b></p>
     </div>

     <div id="map">
      <p id="cc">An diesen Orten gibt es Zentren für soziale Dreigliederung: <a style="color: #fff;" href="/dreigliederung.html">(mehr Infos)</a></p>
      
      <img src="karte.png" alt=""></img>
      
     
     </div>
     
     
    </div>
   
    <footer >
    <div id="footdiv"> 
        <div>
        <h2>Unterstützer:</h2>
        <p > Eos
         Weltenwandler <br>
         Partei für Freiheit Gleichheit Brüderlichkeit<br>
          Musikvereinigung Orpheus <br>
         Peter  Wassmer
     </p>
    </div>
    <div>
     <h2>Kontakt:</h2>  
    <p>
     tel: 0162/8210908 <br>
    email: info@tag-der-sozialen-dreigliederung.de  
    <br>
    </p>
</div>
    </div>
    <div class="inline">&#169; <b> 2024 </b>A. M. O. Janßen | <a href="/impressum.html"><b>impressum</b></a></div>
</footer>





</body>
</html>
