<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">

    <link rel="icon" type="image/jpeg" href="/Unbenannt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
    <title>Termine | TagDreigliederung</title>
</head>
<body>
    <div class="backdrop"></div>
    <button id="side-menu-toggle"> <i class="fa fa-bars"></i></button>
    <div class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/termine.html">Termine</a></li>
        <li><a href="/dreigliederung.html">Dreigliederung</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
      </ul>
  </div>

    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/index.html">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/about' ? 'active' : '' %>" href="/termine.html">Termine</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/' ? 'active' : '' %>" href="/dreigliederung.html">Dreigliederung</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/downloads.html">Downloads</a>
        </li>
       
      
        
       
      </ul>
    </nav>
   
    <div class="content"> 
   <div class="box termine">
        <h2 id="link">Termine:</h2>
 
        <p><ul><li>29./30.6.,2024, Tagung zur Assoziativen Wirtschaft mit Christian Kreiß u.a. Husemannklinik, 79256 Buchenbach, <a href="/programm.pdf">Programm</a> <li>
            30.6.2024 abends, Die Unionsbürgerschaft auf dem Wege zum Souverän, <a href="https://www.schloss-hohenfels.de/event/soziale-dreigliederung-als-begegnungs-erlebnis-2
">Schloss Hohenfels</a> 
        </li><li>Gesprächsrunde Soziale Dreigliederung: Selbstbestimmtheit in der Demokratie 
Sonntag, 30.6.2024 14:00 bis 16:00  - Freie Waldorfschule Flensburg</li> <li>29/30.6.2024 Pernietz, Uwe Burka und Co,. Anmeldung unter e.podirsky@gmx.at</li><li>Einleitung und
Gespräch mit
Hans-Florian Hoyer, Sonntag 30.6.2024
17:30h bis 19:00h,
Rudolf Steiner Haus,
Starkenstr. 36
79104 Freiburg, <a href="fleyer.pdf">Fleyer</a></li><li>So. 30. Juni 2024, 15:00 Uhr,  Gespräch "Dreigliederung des Sozialen Organismus - Zukunftsidee oder längst aus der Zeit gefallen?", Humboldt-Haus
Panoramastr. 30
88147 Achberg

</li></ul></p>
         </p><br>
        </div>
    </div>
    <footer >
    <div id="footdiv"> 
        <div>
        <h2>Unterstützer:</h2>
        <p > Eos
         Weltenwandler <br>
         Partei für Freiheit Gleichheit Brüderlichkeit<br>
          Musikvereinigung Orpheus <br>
         Peter  Wassmer
     </p>
    </div>
    <div>
     <h2>Kontakt:</h2>  
    <p>
     tel: 0162/8210908 <br>
    email: info@tag-der-sozialen-dreigliederung.de 
    <br>
    </p>
</div>
    </div>
    <div class="inline">&#169; <b> 2023 </b>A. M. O. Janßen | <a href="/impressum.html"><b>impressum</b></a></div>
</footer>
</body>
</html>
