<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">

    <link rel="icon" type="image/jpeg" href="/Unbenannt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
    <title>Termine | TagDreigliederung</title>
</head>
<body>
    <div class="backdrop"></div>
    <button id="side-menu-toggle"> <i class="fa fa-bars"></i></button>
    <div class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/termine.html">Termine</a></li>
        <li><a href="/dreigliederung.html">Dreigliederung</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
      </ul>
  </div>

    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/index.html">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/about' ? 'active' : '' %>" href="/termine.html">Termine</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/' ? 'active' : '' %>" href="/dreigliederung.html">Dreigliederung</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/downloads.html">Downloads</a>
        </li>
       
      
        
       
      </ul>
    </nav>
   
    <div class="content"> 
   <div class="box termine">
        <h2 id="link">Termine:</h2><p id="links">(vom 24.6.23, neue folgen)</p>
 
        <p><ul> <li> Austauch von Sichtweisen zur S. Dreigliederung, Impulsvorträge, Raum für Gespräche
      <a href="https://www.schloss-hohenfels.de/"> Schloss Hohenfels </a></li><li> 55571 Odernheim, Hinterhausen 20a, 9 - 18 h Gesprächstag  </li><li>Tagung zur Sozialen Dreigliederung am 24./25. 6. 2023
     im Raphaelsaal der Friederich-Husemann-Klinik, Wiesneck, 79256 Buchenbach</li><li> Auftakt-Veranstaltung: Werkstatt Dialog Konferenz <a href="https://sffo.net/" >Schule der Freiheit Bad Boll 16. - 18. 6. 2023</a> </li><li> Die Soziale Dreigliederung heute -Informationen und Gespräche. <b>Café Jetzt</b>, Norderstrasse 134, <b>Flensburg</b>,  15:00 bis 17:00
         </li><li>11 - 17 h, Fest der Begegnung, 47533 Kleve, Atelier Rombold, Treppkesweg 136
         <b>Fähigkeiten sind unser Kapital</b>, Workshops zum Wassermann.Trommeln,  Gespräche</li><li>Gesellschaftliche Transformation – neu denken. Begegnungsstätte Hirsch, Tübingen,  Hirschgasse 9, 17:00 Uh</li><li>Online-Gespräch mit Hans Florian Hoyer 17.00 - 18.30 Uhr <a href="https://wechange.de/group/forum/event/konsequenzen-der-arbeitsteilung-offenes-gesp/">Infos</a></li><li> <a href="https://www.von-vor-dem-sturm.de/post/rainer-schnurre-1?cid=7c9c8263-1e54-4b97-b772-d71078efc4eb&postId=9f269874-e824-4c7d-a932-da6aa9487129&utm_campaign=da74dbe4-e7d6-41c7-b56d-4901993787a3&utm_content=c7650f0e-dcd1-445b-a309-e0d5d5bc9a43&utm_medium=mail&utm_source=so"> Manifest von Rainer Schnurre zum 25.6.2023 </a></li></ul></p>
         </p><br>
        </div>
    </div>
    <footer >
    <div id="footdiv"> 
        <div>
        <h2>Unterstützer:</h2>
        <p > Eos
         Weltenwandler <br>
         Partei für Freiheit Gleichheit Brüderlichkeit<br>
          Musikvereinigung Orpheus <br>
         Peter  Wassmer
     </p>
    </div>
    <div>
     <h2>Kontakt:</h2>  
    <p>
     tel: 0162/8210908 <br>
    email: info@tag-der-sozialen-dreigliederung.de 
    <br>
    </p>
</div>
    </div>
    <div class="inline">&#169; <b> 2023 </b>A. M. O. Janßen | <a href="/impressum.html"><b>impressum</b></a></div>
</footer>
</body>
</html>
