<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles.css">

    <link rel="icon" type="image/jpeg" href="/Unbenannt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
    <title>Termine | TagDreigliederung</title>
</head>
<body>
    <div class="backdrop"></div>
    <button id="side-menu-toggle"> <i class="fa fa-bars"></i></button>
    <div class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/termine.html">Termine</a></li>
        <li><a href="/dreigliederung.html">Dreigliederung</a></li>
        <li><a href="/downloads.html">Downloads</a></li>
      </ul>
  </div>

    <nav class="mobile-nav">
      <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/index.html">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/about' ? 'active' : '' %>" href="/termine.html">Termine</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/' ? 'active' : '' %>" href="/dreigliederung.html">Dreigliederung</a>
        </li>
        <li class="mobile-nav__item">
          <a class="<%= path === '/products' ? 'active' : '' %>"
             href="/downloads.html">Downloads</a>
        </li>
       
      
        
       
      </ul>
    </nav>
   
    <div class="content"> 
   <div class="box termine">
        <h2 id="link">Termine:</h2>
 
        <p><ul>
            <li>Steinerhaus Freiburg Gesellschaftliche Heilungsimpulse im Hier und Jetzt
Dreigliederungsgruppe Dreisamtal und Valentin Wember 21.-22.6.2025 (eine Woche vor dem Tag der S.3gliederung), <a href="/programm.pdf">Programm</a>
        </li>

              <li>26.6.2025 19 h, Gespräch zu "Was wollte R. Steiner mit den Kernpunkten"
Im Nebengebäude der Christengemeinschaft Freiburg Brsg. Goethestraße 67b, <a href="/christ_flyer.pdf">Flyer</a>
        </li>

            <li> <a href="https://www.schloss-hohenfels.de/
">Schloss Hohenfels</a> am 29.-30.6.2025 Soziale Dreigliederung durch das Erleben in die Tat gebracht
mit Eva und Markus Birnthaler, <a href="https://www.schloss-hohenfels.de/2025/05/10/dreigliederung-durch-das-erleben-in-die-tat-gebracht/
">Flyer</a>
        </li>

            <li><a href="https://kulturzentrum-achberg.de/">IKA Achberg NN </a> 
        </li>

            <li> <a href="https://sffo.net/
">SffO</a>, Anton Winter: Tagung zum Thema Geld und Geltung - Währung und Wahrheit am 27.6.2025 und Das Erbe der Gewalt - Die Kunst des Friedens - Das Drama der Erkenntnis am 28.6.2025
Freie Waldorfschule  Bad Kreuznach, Rheingrafenstraße 155a
        </li>
            </li>

            <li> <a href= "https://www.forum-drei-in-flensburg.de/
">Flensburg NN </a>
        </li>
            
            
            
            
            
            <br>
            
        </p>
         </p><br>
        </div>
    </div>
    <footer >
    <div id="footdiv"> 
        <div>https://tag-der-sozialen-dreigliederung.de/programm.pdf
 
        <h2>Unterstützer:</h2>
        <p > Eos
         Weltenwandler <br>
         Partei für Freiheit Gleichheit Brüderlichkeit<br>
          Musikvereinigung Orpheus <br>
         Peter  Wassmer
     </p>
    </div>
    <div>
     <h2>Kontakt:</h2>  
    <p>
     tel: 0162/8210908 <br>
    email: info@tag-der-sozialen-dreigliederung.de 
    <br>
    </p>
</div>
    </div>
    <div class="inline">&#169; <b> 2025 </b>A. M. O. Janßen | <a href="/impressum.html"><b>impressum</b></a></div>
</footer>
</body>
</html>
